@font-face {
  font-display: swap;
  font-family: VBFont;
  font-style: normal;
  font-weight: 400;
  src: url('../../../node_modules/@fontsource/numans/files/numans-latin-400-normal.woff2') format('woff2'), url('../../../node_modules/@fontsource/numans/files/numans-all-400-normal.woff') format('woff');
  unicode-range: U+004A, U+006A;
}
