//@import './_font_numans';

@import './font_inter';
//@import './_font_opensans';

.page-title {
  color: white;
  font-family: VBFont, sans-serif;
  font-size: 45px;
  font-weight: bolder;
  margin: auto;
  width: fit-content;
}

.section-title {
  color: white;
  font-family: VBFont, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: auto;
  padding-bottom: 10px;
  width: fit-content;
}

.text {
  color: white;
  font-family: VBFont, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin: auto;
  width: fit-content;
}
