@font-face {
    font-family: 'OpenSans';
    src: url('../../../assets/fonts/OpenSans/OpenSans-Regular.ttf');
};

@font-face {
    font-family: 'ExtraBoldOpenSans';
    src: url('../../../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf');
};

.page-title {
    font-size: 45px;
    color: white;
    font-weight: 800;
    width: fit-content;
    margin: auto;
    font-family: ExtraBoldOpenSans;
}

