*, *::before, *::after {
  -webkit-app-region: no-drag;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  display: flow-root;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:not(input):not(textarea):not(.image-container:first), :not(input):not(textarea):not(.image-container:first)::after, :not(input):not(textarea):not(.image-container:first)::before {
  cursor: default;
  user-select: none;
  user-select: none;
}

input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}
