
.options-menu {
    background-color: $color-outline;
    width: fit-content;
    height: fit-content;

    $pad: 16px;
    padding: $pad $pad $pad $pad;


    &-title {
        text-transform: uppercase;
        color: white;
        margin-bottom: 15px;
        margin-left: 0;
    }

    & >* {
        margin: 10px 10px 10px 10px;
    }

}

.horizontal-options-menu {
    background-color: $color-outline;
    width: fit-content;
    height: fit-content;
    
    margin: auto;

    $pad: 25px;
    padding: $pad $pad $pad $pad;
    border-radius: 15px;

    :not(:last-child) {
        margin-right: 25px;
    }

    &>div {
        display: inline-block;
        height: 0.3*270px;
        
        &>h2,h3 {
            text-align: center;
            color: white;
        }

        &>img {
            height: 100%;
        }
    }
    
}


