.options-menu {
  background-color: $color-outline;
  border-radius: 20px;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  padding: 50px;
  width: 80%;

  & > h1, h2, h3 {
    color: white;
    font-size: 16px;
  }
}

.vertical-options-menu {
  background-color: $color-outline;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  padding: 16px;
  width: fit-content;

  &-title {
    color: white;
    margin-bottom: 15px;
    margin-left: 0;
    text-transform: uppercase;
  }

  & > * {
    margin: 10px;
  }
}

.horizontal-options-menu {
  background-color: $color-outline;
  border-radius: 15px;
  display: flex;
  height: 40%;
  margin: auto;
  padding: 25px;
  width: fit-content;

  & > div {
    height: fit-content;
    margin-top: 8%;

    &:first-of-type {
      margin-left: 25px;
    }

    &:last-of-type {
      margin-right: 25px;
    }

    & > h1, h2, h3 {
      color: white;
      font-size: medium;
      font-weight: normal;
      margin: auto;
      text-align: center;
      width: 80%;
    }
  }
}
