.add-item-container {
  cursor: pointer;
  display: flex;
  width: $scaling-factor * 200px;

  > * {
    display: inline;
  }

  > h2, h3, h4 {
    color: white;
    font-size: $scaling-factor * 28px;
    width: 80%;
  }

  & > img {
    bottom: 0;
    height: 15px;
    left: 0;
    margin-right: 10px;
    right: 0;
    top: 0;
    width: auto;
  }
}
