.horizontal-border-line {
  border: 0;
  border-radius: 5px;
  border-top: 3px solid $color-middleground;
  height: 3px;
  width: 100%;
}

.vertical-border-line {
  border: 0;
  border-left: 2px solid $color-middleground;
  border-radius: 10px;
  display: inline-block;
  height: auto;
  margin: 0 8%;
  width: 2px;
}
