$color-button: #8367C7;
$color-highlight: #00FF2A;

.button-primary {
  background-color: $color-button;
  border-radius: $scaling-factor * 10px;
  color: white;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  font-family: OpenSans;
  font-size: $scaling-factor * 33px;
  height: fit-content;
  line-height: $scaling-factor * 67px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.button-secondary {
  background-color: inherit;
  color: white;
  filter: none;
  margin: auto;
  opacity: .5;

  @extend .button-primary;

  &:hover {
    color: rgb(255 255 255 / 40%);
    cursor: pointer;
  }
}
