select {
  background-color: $color-middleground;
  border-color: $color-middleground;
  border-style: solid;
  color: white;
  font-style: normal;
  height: $scaling-factor * 60px;
  outline: none;
  padding-left: 5px;
  width: 100%;

  &:focus {
    border-color: $color-purple;
  }
}
