.metronome-container {
  background-color: $color-middleground;
  border-radius: 5px;
  display: inline-flex;
  height: fit-content;
  justify-content: center;
  margin: 10px 0;
  padding: 5px;
  padding-left: 10px;
  width: 100%;

  & > h2 {
    color: white;
    font-size: $scaling-factor * 30px;
    width: 80%;
  }

  & > div {
    height: 100%;
  }

  :nth-child(2) {

    & > img {
      height: $scaling-factor * 15;
      margin-top: 5px;
      width: $scaling-factor * 20;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
