@use 'sass:color';
@use '../utilities/_variables';

.slider-container {

  h3 {
    color: white;
    font-size: 20px;
    margin: auto;
  }

  input {
    appearance: none;
    background: inherit;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    &::-webkit-slider-runnable-track {
      // stylelint-disable-next-line function-no-unknown
      background: color.adjust(variables.$color-middleground, $lightness: 25%);
      border: 1px variables.$color-middleground solid;
      height: 15px;
      width: 100%;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background: white;
      border: 1px black;
      border-radius: 10px;
      box-shadow: -80px 0 0 70px variables.$color-purple;
      height: 15px;
      margin-top: -1px;
      width: 15px;
    }
  }
}
