.named-input-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 100%;

  & > input {
    background-color: $color-middleground;
    border-color: $color-middleground;
    border-style: solid;
    color: white;
    height: $scaling-factor * 55px;
    margin-top: 3px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    &::placeholder {
      color: rgb(255 255 255 / 20%);
    }

    &:focus {
      border-color: $color-purple;
    }
  }
}
