

.named-input-container {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    &> input {
        padding-left: 15px;
        padding-right: 15px;

        border-style: none;
        height: $scaling-factor * 55px;
        width: 100%;
        background-color: $color-middleground;
        color: white;
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.2);
        }

    }

}