$color-tickbox: #404451;

.tickbox-container {
  display: block;
  width: 100%;

  > * {
    display: inline-grid;
  }

  > h2, h3, h4 {
    color: white;
    font-size: $scaling-factor * 28px;
    width: 80%;
  }

  .tickbox {
    // Remove base tickbox styling
    appearance: none;
    background-color: $color-tickbox;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%),
      inset 0 -15px 10px -12px rgb(0 0 0 / 5%);
    display: inline-grid;
    height: $scaling-factor * 26px;
    margin: 0 .6rem 0 0;
    padding: 9px;
    position: relative;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }

    &:checked {

      &::after {
        color: white;
        content: 'x';
        font-family: VBFont, Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        left: 4.5px;
        line-height: 14px;
        position: absolute;
        top: 0;
      }
    }
  }
}
