input {
	font-weight: 600;
}

.horizontal-spacer {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	margin-top: 5%;
	padding-left: 55%;

	& > .button-secondary {
		width: fit-content;
		font-weight: 600;
		font-size: medium;
	}

	& > .button-primary {
		width: fit-content;
		margin: auto;
		font-weight: 600;
		white-space: nowrap;
	}
}

.options-menu {
	padding-bottom: 20px;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
