input {
  font-weight: 600;
}

.options-menu {
	padding-bottom: 30px;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1.2fr;
	width: 60vw;

	& .button-secondary {
		width: fit-content;
		font-weight: 600;
		font-size: medium;
		margin: 0;
	}

	& .button-primary {
		width: fit-content;
		margin: 0;
		font-weight: 600;
		white-space: nowrap;
	}
}

.action-input-container {
	display: grid;
	grid-template-columns: 1fr auto;

	h3 {
		grid-column: 1 / span 2;
	}

	button {
		height: 20px;

	img {
		width: 24px;
		height: 20px;
	}
}
}