.horizontal-options-menu {
	height: fit-content;
	display: flex;

	& > div {
		width: 200px;
		margin-top: 10px;
	}
}

.image-container {
	padding: 20px;
	background-color: $color-middleground;
	border-radius: 7px;
}
