.horizontal-options-menu {
  display: flex;
  height: fit-content;

  & > div {
    margin-top: 10px;
    width: 200px;
  }
}

.image-container {
  background-color: $color-middleground;
  border-radius: 7px;
  padding: 30px;
}
