

.horizontal-options-menu {

    &>div {
        width: 200px;
        margin-top: 10px;
    }
}

.image-container {
    padding: 30px;
    background-color: $color-middleground;
    border-radius: 7px;
}