.recording-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 20px;
  margin-top: 0;

  video {
    background-color: white;
    border: 5px solid $color-middleground;
    border-radius: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin: auto;
    transform: scaleX(-1);
    width: 78%;
  }

  & > select[ref=audioDevices] {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 100%;
  }

  & > select[ref=videoDevices] {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 100%;
  }

  .vu {
    background-image:
      linear-gradient(
        to right,
        #2ECC40 0%,
        #2ECC40 75%,
        #FF851B 90%,
        #FF4136 100%
      );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 4px;
    height: 100%;
  }
}

.horizontal-spacer {

  .button-primary {
    border: 0;
    font-size: 18px;
    height: 80%;
    margin: 5px;
  }

  h1 {
    font-size: 30px;
  }
}

.recording-button, %recording-button {
  background: none;
  border: 2px solid white;
  border-radius: $scaling-factor * 30px;
  display: flex;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: $scaling-factor * 60px;
  margin: auto;
  width: $scaling-factor * 60px;

  & > div {
    background-color: red;
    border-radius: $scaling-factor * 5px;
    height: $scaling-factor * 27px;
    margin: auto;
    // stylelint-disable-next-line plugin/no-low-performance-animation-properties
    transition: border-radius 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
    width: $scaling-factor * 27px;
  }
}

.not-recording-button {
  @extend %recording-button;

  & > div {
    border-radius: $scaling-factor * 18px;
    height: $scaling-factor * 36px;
    width: $scaling-factor * 36px;
  }
}

.image-container {
  height: fit-content;
  padding: 0;

  & > img {
    display: inline;
    height: 50px;
  }
}
