video {
  background-color: white;
  border: 5px solid $color-middleground;
  border-radius: 10px;
  height: 80%;
  margin: auto;
  width: 92%;
}

.horizontal-spacer {
  grid-column-gap: 40px;
  grid-template-columns: 2fr 1fr 2fr;
  height: 15%;
  margin-top: 15px;
  padding: 0 4%;
}

.image-container {
  height: fit-content;

  & > img {
    display: inline;
    height: 50px;
  }
}
