

#video-container {
    
    &> video {
        height: 80%;
    }

    &> div {
        margin-top: 25px;
        height: 15%;
        width: 100%;
        background-color: grey;
    }


}

.grid-container {

    height: 90%;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 20px;

    
}

.vertical-options-menu {
    width: 100%;
    height: 100%;
}