#video-container {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	& > video {
		height: 100%;
	}
}

#video-controls {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	grid-template-columns: 1fr 1fr 8fr;
	grid-template-rows: 100%;

	height: 100%;
	width: 100%;
	background-color: inherit;

	& > .image-container {
		height: 100%;
		padding: 0;

		& > img {
			height: 100%;
		}
	}
}

.grid-container {
	height: 100%;
	grid-template-columns: 9fr 2.5fr;
	grid-template-rows: 90% 10%;

	grid-column-gap: 30px;
	grid-row-gap: 13px;
	padding: 20px;
}

.vertical-options-menu {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	width: 100%;
	height: 100%;
	background-color: $color-outline;

	& > div {
		&:not(:first-of-type) {
			&::before {
				display: block;
				content: "";
				width: 100%;
				border: 0;
				height: 3px;
				border-top: 3px solid $color-middleground;
				border-radius: 5px;
				margin-bottom: 10px;
			}
		}

		:not(h2) {
			font-size: 11px;
			font-weight: lighter;
		}
	}
}

.button-primary {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 100%;
	width: 100%;
	font-size: 16px;
	border: none;
}
