#video-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  & > video {
    height: 100%;
  }
}

#video-controls {
  background-color: inherit;
  grid-column: 1 / 2;
  grid-column-gap: 13px;
  grid-row: 2 / 3;
  grid-template-columns: 1fr 1fr 8fr;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;

  & > .image-container {
    height: 100%;
    padding: 0;

    & > img {
      height: 100%;
    }
  }
}

.grid-container {
  grid-column-gap: 30px;
  grid-row-gap: 13px;
  grid-template-columns: 9fr 2.5fr;
  grid-template-rows: 90% 10%;
  height: 100%;
  padding: 20px;
}

.vertical-options-menu {
  background-color: $color-outline;
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  width: 100%;

  & > div {

    &:not(:first-of-type) {
      margin-top: 10px;

      &::before {
        border: 0;
        border-radius: 5px;
        border-top: 3px solid $color-middleground;
        content: '';
        display: block;
        height: 3px;
        margin-bottom: 10px;
        width: 100%;
      }
    }

		h3 {
			width: fit-content;
		}

		& > :not(h2) {
			margin-top: 10px;
		}

    :not(h2) {
      font-size: 11px;
      font-weight: lighter;
    }
  }
}

.button-primary {
  border: none;
  font-size: 16px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
}
