#video-container {

  & > video {
    height: 90%;
  }
}

.horizontal-spacer {
  background-color: inherit;
  grid-template-columns: 1fr 1fr 8fr;
  grid-template-rows: 100%;
  height: 7%;
  margin-top: 10px;
  width: 100%;

  & > .image-container {
    height: 100%;
    padding: 0;

    & > img {
      height: 100%;
    }
  }
}

.grid-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 9fr 2.5fr;
  grid-template-rows: 1fr;
  height: 100%;
  padding: 20px;
}

.vertical-options-menu {
  background-color: $color-outline;
  display: block;
  height: 100%;
  width: 100%;

  & > div {

    &:not(:first-of-type) {
      margin-top: 10px;

      &::before {
        border: 0;
        border-radius: 5px;
        border-top: 3px solid $color-middleground;
        content: '';
        display: block;
        height: 3px;
        margin-bottom: 10px;
        width: 100%;
      }
    }

    & > :not(h2) {
      margin-top: 10px;
    }

    :not(h2) {
      font-size: 11px;
      font-weight: lighter;
    }
  }
}
