#video-container {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	& > video {
		height: 100%;
	}
}

#video-controls {
	background-color: inherit;
	grid-column: 1 / 2;
	grid-column-gap: 13px;
	grid-row: 2 / 3;
	grid-template-columns: 1fr 1fr 8fr;
	grid-template-rows: 100%;
	height: 100%;
	width: 100%;

	& > .image-container {
		height: 100%;
		padding: 0;

		& > img {
			height: 100%;
		}
	}
}

.add-item-container {
	cursor: pointer;
}

.grid-container {
	gap: 13px 30px;
	grid-template-columns: 9fr 2.5fr;
	grid-template-rows: 90% 10%;
	height: 100%;
	padding: 20px;
}

.vertical-options-menu {
	background-color: $color-outline;
	display: block;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
	user-select: none;
	width: 100%;

	& > div {
		&:not(:first-of-type) {
			margin-top: 10px;

			&::before {
				border: 0;
				border-radius: 5px;
				border-top: 3px solid $color-middleground;
				content: "";
				display: block;
				height: 3px;
				margin-bottom: 10px;
				width: 100%;
			}
		}

		& > :not(h2) {
			margin-top: 10px;
		}

		:not(h2) {
			font-size: 11px;
			font-weight: lighter;
		}

		h3 {
			width: fit-content;
		}
	}
}

.screen-style {
	aspect-ratio: 16 / 9;
	border: 2px solid $color-middleground;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: stretch;
	width: 100%;

	/* stylelint-disable-next-line no-descending-specificity */
	& > div {
		border: 1px solid $color-middleground;
		display: grid;
		place-items: center;

		&:hover {
			cursor: pointer;
		}
	}

	&.selected {
		border-color: $color-light;

		div {
			border-color: $color-light;
		}
	}
}

.timeline {
	.playhead {
		height: 110%;
		position: absolute;
		top: -10%;
		user-select: none;
		width: 10px;
		z-index: 10;

		:nth-child(1) {
			aspect-ratio: 1/1;
			background-color: white;
			border-radius: 50%;
			margin-bottom: -50%;
			width: 100%;
		}

		:nth-child(2) {
			background-color: white;
			bottom: 0;
			height: 91%;
			left: 35%;
			margin: auto;
			position: absolute;
			width: 30%;
		}
	}

	.marker {
		height: 16px;
		opacity: 0.5;
		position: absolute;
		top: -12px;
		transform: rotate(180deg);
		width: 16px;
		z-index: 20;

		&.selected {
			opacity: 1;
		}

		// stylelint-disable-next-line no-descending-specificity
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.button-primary {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 100%;
	width: 100%;
	font-size: 16px;
	border: none;
}
